.container {
  flex-wrap: wrap;
  align-items: center;
}
.cobuyingItem img {
  width: 50%;
  height: auto;
  align-content: center;
}
.detaillist.content {
  margin-top: 70px;
}

.cobuyingItem {
  /* margin-top: 10px; */
  /* text-align: center; */
  /* display: flex; */
  width: 90%;
  height: 85%;
}
.deadline {
  font-size: xx-small;
}
.name {
  /* font-size: small; */
}
